%h1 添加新课程

= form_tag movies_path do

  = label :movie, :title, '课程名称'
  = text_field :movie, 'title'
  
  = label :movie, :credit, '课程学分'
  = text_field :movie, 'credit'
  
  = label :movie, :classhour, '课程学时'
  = text_field :movie, 'classhour'

  = label :movie, :description, '描述'
  = text_field :movie, 'description'

  = submit_tag '保存修改'
